#overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $transparent;
  overflow: hidden;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0ms 400ms, opacity 400ms linear;
}

.overlay-toggled {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 400ms linear !important;
}