<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>SpotMe</title>
 <link rel="icon" href="{{ url_for('static', filename='images/icons/tab-icon.png')}}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 <title></title>
</head>

<body class="login-body">
 <div class="login-container">
  <div class="logo">
   <img src="{{ url_for('static', filename='images/icons/spotme-icon-dark.png')}}" alt="" />
  </div>

  <div class="form-container">
   <div id="overlay"></div>
   
   <form method="POST" action="{{ url_for('send_reset_link') }}">
    <div class="user-input">
     <div>
      <input type="text" id="email" name="email" placeholder="Email" />
     </div>

    <div class="login-but-reg">
     <button id="btn-forgot">Reset Password</button>

     <div class="form-links">
      <p>
       Remembered your password? <a href="{{ url_for('login') }}">Login</a>
      </p>
     </div>
    </div>
   </form>
  </div>
 </div>

 <div class="centerer">
  <div class="popup popup-sent">
   <div class="popup-container">
    <h2>Reset link sent to your email.</h2>

    <div class="popup-yesno">
     <a class="popup-yes sent-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-failedLink">
   <div class="popup-container">
    <h2>Failed to send reset link.</h2>

    <div class="popup-yesno">
     <a class="popup-yes failedLink-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-incomplete">
   <div class="popup-container">
    <h2>Please fill the input field first!</h2>

    <div class="popup-yesno">
     <a class="popup-yes incomplete-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-notfound">
   <div class="popup-container">
    <h2>Account not found! Are you sure it exists?</h2>

    <div class="popup-yesno">
     <a class="popup-yes notfound-ok">
      Ok
     </a>
    </div>
   </div>
  </div>
</body>

<script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>

</html>