<nav id="instructions">
 <div class="manual">

  <div id="instructions-x">
   <span></span>
   <span></span>
   <span></span>
  </div>

  <div class="manual-header">
   <h2>Application Manual</h2>
  </div>

  <div class="manual-steps">
   <div class="manual-container">
    <ul class="manual-steps__list">
     <h3>Step 1: Select categories</h3>
     <li>- Choose Categories in the navigation menu below</li>
     <li>- Start form checking by selecting Categories</li>
     <li>
      - You can also gain some exercise terminlogy knowledge from 
        Terminologies and advice from Tips
     </li>
    </ul>

    <ul class="manual-steps__list">
     <h3>Step 2: Select the exercise</h3>
     <li>- Choose a body part you want to target (chest, shoulders, etc.)</li>
     <li>- Select from list of exercises</li>
    </ul>

    <ul class="manual-steps__list">
     <h3>Step 2: Position the camera</h3>
     <li>
      - Position the camera so as to ensure that it is no more than 6.5ft away
     </li>
     <li>
      - Ensure that your face and the body parts/joints that will be moving 
      to perform the exercise are visible to the camera
     </li>
    </ul>

    <ul class="manual-steps__list">
     <h3>Step 3: Start the exercise</h3>
     <li>- Start performing the exercise</li>
     <li>- Monitor the video feed to get a good view of your form</li>
    </ul>

    <ul class="manual-steps__list">
     <h3>Step 4: Monitor exercise data</h3>
     <li>
      - View your form analysis and count of reps performed, 
      and listen to the voice critique   
     </li>
    </ul>

    <ul class="manual-steps__list">
     <h3>Step 5: Make adjustments</h3>
     <li>
      - Based on the app's feedback, adjust your form or movement as necessary
      using the previously monitored data.
     </li>
    </ul>

    <ul class="manual-steps__list">
     <h3>Step 6: Save your progress</h3>
     <li>
      - Save your form improvement progress by clicking the "+" (add set) button
     </li>
    </ul>

    <ul class="manual-steps__list">
     <h3>Step 7: View your progress</h3>
     <li>
      - See your improvement by checking the graph of your workouts and list of
       successful repetitions
     </li>
    </ul>
   </div>
  </div>
 </div>
</nav>