<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SpotMe</title>
	<link rel="icon" href="{{ url_for('static', filename='images/icons/tab-icon.png')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	<title></title>
</head>

<body class="login-body">
	<div class="login-container">
		<div class="logo">
			<img src="{{ url_for('static', filename='images/icons/spotme-icon-dark.png')}}" alt="" />
		</div>

		<div class="form-container">
   <div id="overlay"></div>

			<form>
				<div class="user-input">
					<div>
						<input type="text" id="username" name="username" placeholder="Username" />
					</div>

					<div>
						<input type="password" id="password" name="password" placeholder="Password" />
						<div class="form-links fl-pw">
							<a href="{{ url_for('forgot_password') }}">Forgot your password?</a>
						</div>
					</div>
				</div>

				<div class="login-but-reg">
					<button id="btn-login">Login</button>

					<div class="form-links">
						<p>Don't have an account? <a href="{{ url_for('create_account') }}">Register</a></p>
					</div>
				</div>
			</form>
		</div>
	</div>

 <div class="centerer">
  <div class="popup popup-login">
   <div class="popup-container">
    <h2>Wrong password!</h2>

    <div class="popup-yesno">
     <a class="popup-yes login-ok">
						Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-incomplete">
   <div class="popup-container">
    <h2>Please fill all input fields first!</h2>

    <div class="popup-yesno">
     <a class="popup-yes incomplete-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-notfound">
   <div class="popup-container">
    <h2>Account not found! Please register first</h2>

    <div class="popup-yesno">
     <a class="popup-yes notfound-ok">
      Ok
     </a>
    </div>
   </div>
  </div>
</body>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</html>