<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>SpotMe</title>
 <link rel="icon" href="{{ url_for('static', filename='images/icons/tab-icon.png')}}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 <title></title>
</head>

<body class="login-body">
 <div class="login-container">
  <div class="logo">
   <img src="{{ url_for('static', filename='images/icons/spotme-icon-dark.png')}}" alt="" />
  </div>

  <div class="form-container">
   <div id="overlay"></div>
   
   <form method="POST" action="{{ url_for('reset_password', token=token) }}">
    <div class="user-input">
      <div>
        <input type="password" id="password" name="password" placeholder="New Password" required />
      </div>

      <div>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm New Password" required />
      </div>
    </div>

    <div class="login-but-reg">
      <button id="btn-reset" type="submit">Reset Password</button>
    </div>
  </form>
  </div>
 </div>

 <div class="centerer">
  
  <div class="popup popup-forgot">
   <div class="popup-container">
    <h2>Passwords do not match!</h2>

    <div class="popup-yesno">
     <a class="popup-yes forgot-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-incomplete">
   <div class="popup-container">
    <h2>Please fill all input fields first!</h2>

    <div class="popup-yesno">
     <a class="popup-yes incomplete-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-errorReset">
   <div class="popup-container">
    <h2>An error occurred. Please try again.</h2>

    <div class="popup-yesno">
     <a class="popup-yes errorReset-ok">
      Ok
     </a>
    </div>
   </div>
  </div>

  <div class="popup popup-notfound">
    <div class="popup-container">
     <h2>Account not found! Are you sure it exists?</h2>
 
     <div class="popup-yesno">
      <a class="popup-yes notfound-ok">
       Ok
      </a>
     </div>
    </div>
   </div>

  <div class="popup popup-short">
    <div class="popup-container">
     <h2>Password needs to be at least 8 characters!</h2>
 
     <div class="popup-yesno">
      <a class="popup-yes short-ok">
       Ok
      </a>
     </div>
    </div>
   </div>
</body>

<script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>

</html>